@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
   
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Sign Out</a>
    
}
